*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--creame);
    word-spacing: 2px;

}
:root{
    --creame: #F5F1E8;
    --grey: #A9A9A9;
    --lightBrown: #191413;
    --AshBlack: #333333;
}
h1{
    font-family: "Cinzel";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 20px;
}
a,button{
    text-decoration: none;
    color: var(--AshBlack);
    border: none;
    background-color: #D9D9D9;
    font-size: 14px;
    font-family: "Source Serif 4";
}
.nav-icon,.nav-close-icon{
    display: none;
}

/* .navbar{
    position:  sticky;
    padding-top: 20px;
}
nav ul{
    display: flex;
    justify-self: center;
    gap: 142px;
}
#logo{
    margin-left: 170px;
    margin-right: 170px;
    letter-spacing: 2px;
} */

.navbar{
    position:  sticky;
    padding-top: 20px;
    display: flex;
    flex: row;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-self: center;
    gap: 200px;
}
#logo{
    letter-spacing: 2px;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}





.hero{
    width: 100%;
    height: 610px;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}
.heroImage{
    height: 550px;
    margin-top: 150px;
}

.logo{
    position: absolute;
    top: 0;
    margin-top: 165px;
}

#scrollText{
    font-size: 12px;
    font-family: "Source Serif 4";
    position: fixed;
    right: 0px;
    bottom: 10px;
    justify-self: right;
    padding-right: 40px;
    z-index: 1;
    color: #191413;
}



.info{
    margin-top: 800px;
    justify-self: center;
    font-family: "Baskervville";
}
.artwork-Section{
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 115px;
    margin-top: 400px;
}
.artworkcontainer{
    display: flex;
    gap: 80px;
}
.art{
    width: 500px;
     border-radius: 3px;
}
#multi-mirror-art8{
    width: 500px;
    height: 625px;
}
.artDes{
    font-size: 14px;
    font-family: "Source Serif 4";
    font-weight: normal;
    padding-bottom: 20px;
}
.art-wrapper{
    display: flex;
    flex-direction: column;
}
#wrap2,#wrap4,#wrap6,#wrap8,#wrap10{
    text-align: right;
}

.art:hover{
    transform: translateY(-10px);
    transition:  0.5s all ease-in-out;
    box-shadow: 0 0 5.3px -2px var(--AshBlack);
}

footer{
    display: flex;
    align-self: end;
    justify-content: space-between;
    margin-top: 300px;
    padding-bottom: 50px;
}
.footer-link,#footerBtn{
    background-color: var(--creame);
}

footer ul{
    display: flex;
    gap: 40px;
    margin-left: 40px;
}

.credits{
    display: flex;
    margin-right: 40px;
}
.rights{
    border-right: solid 1px black;
    padding-right: 10px;
}
.rightText{
    font-family: "Source Serif 4";
    font-size: 14px;
    color: rgba(51, 51, 51, 75%);
}
.dev{
    font-family: "Source Serif 4";
    font-size: 14px;
    padding-left: 10px;
    color: var(--AshBlack);
}





@media (max-width: 450px) and (min-width: 376px) {


    .underline{
        display: none;
    }
    
    #logo{
        margin: 0;
        position: relative;
        float: left;
        margin-left: -180px;
        margin-top: -20px;
    }
    .nav-icon{
        display: block;
        justify-self: flex-end;
        padding-right: 50px;
        font-size: 20px;
        z-index: 1;
    }
    .nav-close-icon {
        display: none;
        position: absolute;
        top: 38px;
        right: 29px;
        font-size: 20px;
        z-index: 2000;
        cursor: pointer;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: fit-content;
    }
    .underline{
        margin-bottom: 20px;
    }
    .overlay.show .underline {
      display: block;
    }
    a,button{
        background-color: inherit;
    }



    .menu-Header{
        color: #333333;
        font-size: 24px;
        font-family: "Cinzel";
        margin-bottom: 40px;
        width: fit-content;
        border-bottom: solid 1px #333333;
    }
    .underline{
        width: fit-content;
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background: rgba(250, 250, 250, 0.9);
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 900;
        display: flex;
        flex-direction: column; 
        padding-top: 50px;
        padding-left: 50px;
    }
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 570px;
    }
    .logo{
        transform: none;
        font-size: 34px;
        text-align: center;
        padding: 0px;
        padding-top: 30px;
    }
    .heroImage{
        transform: none;
        margin-top: 230px;
        width: 350px;
        height: auto;
    }

    .info{
        text-align: center;
        width: 230px;
    }

    .artwork-Section{
        flex-wrap: nowrap;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
    .artworkcontainer{
        flex-direction: column;
    }
    .art{
        width: 300px;
        height: auto;
    }
    #multi-mirror-art8{
        width: 300px;
        height: auto;
    }
    #wrap2,#wrap4,#wrap6,#wrap8,#wrap10{
        text-align: left;
    }
    footer{
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer ul .underline{
        display: flex;
        width: fit-content;
    }
    footer ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 0;
        column-gap: 40px;
        align-content: flex-start;

    }

    .footer-wrapper{
        width: 100%;
        margin: 0;
        margin-top: 329px;
    }
    #div2{
        width: 100px;
    }

    .credits{
        margin-top: 80px;
        margin-left: 40px;
    }
    
}





@media (max-width: 375px) and (min-width: 321px) {


    .underline{
        display: none;
    }
    
    #logo{
        margin: 0;
        position: relative;
        float: left;
        margin-left: -180px;
        margin-top: -20px;
        padding-left: 20px;
    }
    .nav-icon{
        display: block;
        justify-self: flex-end;
        padding-right: 50px;
        font-size: 20px;
        z-index: 1;
    }
    .nav-close-icon {
        display: none;
        position: absolute;
        top: 38px;
        right: 29px;
        font-size: 20px;
        z-index: 2000;
        cursor: pointer;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: fit-content;
    }
    .underline{
        margin-bottom: 20px;
    }
    .overlay.show .underline {
      display: block;
    }
    a,button{
        background-color: inherit;
    }



    .menu-Header{
        color: #333333;
        font-size: 24px;
        font-family: "Cinzel";
        margin-bottom: 40px;
        width: fit-content;
        border-bottom: solid 1px #333333;
    }
    .underline{
        width: fit-content;
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background: rgba(250, 250, 250, 0.9);
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 900;
        display: flex;
        flex-direction: column; 
        padding-top: 50px;
        padding-left: 50px;
    }
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 570px;
    }
    .logo{
        transform: none;
        font-size: 34px;
        text-align: center;
        padding: 0px;
    }
    .heroImage{
        transform: none;
        margin-top: 230px;
        width: 350px;
        height: auto;
    }

    .info{
        text-align: center;
        width: 230px;
    }

    .artwork-Section{
        flex-wrap: nowrap;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
    .artworkcontainer{
        flex-direction: column;
    }
    .art{
        width: 300px;
        height: auto;
    }
    #multi-mirror-art8{
        width: 300px;
        height: auto;
    }
    #wrap2,#wrap4,#wrap6,#wrap8,#wrap10{
        text-align: left;
    }
    footer{
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer ul .underline{
        display: flex;
        width: fit-content;
    }
    footer ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 0;
        column-gap: 40px;
        align-content: flex-start;

    }

    .footer-wrapper{
        width: 100%;
        margin: 0;
        margin-top: 329px;
    }
    #div2{
        width: 100px;
    }

    .credits{
        margin-top: 80px;
        margin-left: 40px;
    }
    
}