*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--creame);
    word-spacing: 2px;

}
:root{
    --creame: #F5F1E8;
    --grey: #A9A9A9;
    --lightBrown: #191413;
    --AshBlack: #333333;
}
h1{
    font-family: "Cinzel";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 20px;
}
a,button{
    text-decoration: none;
    color: var(--AshBlack);
    border: none;
    background-color: #D9D9D9;
    font-size: 12px;
    font-family: "Source Serif 4";
}
.nav-icon,.nav-close-icon{
    display: none;
}

.navbar{
    position:  sticky;
    padding-top: 20px;
}
nav ul{
    display: flex;
    justify-self: center;
    gap: 142px;
}
#logo{
    margin-left: 170px;
    margin-right: 170px;
    letter-spacing: 2px;
}



.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}





.hero{
    width: 100%;
    height: 610px;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
}
.heroImage{
    height: 461px;
    transform: translate(150%,33%);
    z-index: 1;
}

.logo{
    position: absolute;
    top: 0;
    margin-top: 110px;
    padding-left: 35%;
    
}

.nav-menu{
    display: none;
}



#scrollText{
    font-size: 12px;
    font-weight: bold;
    font-family: "Source Serif 4";
    position: fixed;
    right: 0px;
    justify-self: right;
    padding-right: 40px;

}






.contactSection{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 490px;
    margin-left: 50px;
}
.contact{
    font-family: "Baskervville";
    font-size: 15px;
    color: var(--lightBrown);
    font-weight: 500;
}


footer{
    display: none;
}


@media (max-width: 450px) and (min-width: 376px) {


    .underline{
        display: none;
    }
    
    #logo{
        margin: 0;
        position: relative;
        float: left;
        margin-left: -180px;
        margin-top: -20px;
    }
    .nav-icon{
        display: block;
        justify-self: flex-end;
        padding-right: 50px;
        font-size: 20px;
        z-index: 1;
    }
    .nav-close-icon {
       display: block;
        position: absolute;
        top: 38px;
        right: 29px;
        font-size: 20px;
        z-index: 2000;
        cursor: pointer;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: fit-content;
    }
    .underline{
        margin-bottom: 20px;
    }
    .overlay.show .underline {
      display: block;
    }
    a,button{
        background-color: inherit;
    }

    

    .menu-Header{
        color: #333333;
        font-size: 24px;
        font-family: "Cinzel";
        margin-bottom: 40px;
        width: fit-content;
        border-bottom: solid 1px #333333;
    }
    .underline{
        width: fit-content;
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background: rgba(250, 250, 250, 90%);
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 900;
        display: flex;
        flex-direction: column; 
        padding-top: 50px;
        padding-left: 50px;
    }
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 640px;
    }
    .logo{
        transform: none;
        font-size: 54px;
        padding: 0px;
        padding-top: 30px;
    }
    .heroImage{
        transform: none;
        margin-top: 185px;
        width: 310px;
    }
    .contactSection{
        justify-self: flex-start;
        margin-top: 530px;
        margin-left: 20px;
    }
}



@media (max-width: 375px) and (min-width: 321px) {


    .underline{
        display: none;
    }
    
    #logo{
        margin: 0;
        position: relative;
        float: left;
        margin-left: -180px;
        margin-top: -20px;
        padding-left: 20px;
    }
    .nav-icon{
        display: block;
        justify-self: flex-end;
        padding-right: 50px;
        font-size: 20px;
        z-index: 1;
    }
    .nav-close-icon {
        display: none;
        position: absolute;
        top: 38px;
        right: 29px;
        font-size: 20px;
        z-index: 2000;
        cursor: pointer;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: fit-content;
    }
    .underline{
        margin-bottom: 20px;
    }
    .overlay.show .underline {
      display: block;
    }
    a,button{
        background-color: inherit;
    }

    

    .menu-Header{
        color: #333333;
        font-size: 24px;
        font-family: "Cinzel";
        margin-bottom: 40px;
        width: fit-content;
        border-bottom: solid 1px #333333;
    }
    .underline{
        width: fit-content;
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background: rgba(250, 250, 250, 90%);
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 900;
        display: flex;
        flex-direction: column; 
        padding-top: 50px;
        padding-left: 50px;
    }
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 640px;
    }
    .logo{
        transform: none;
        font-size: 44px;
        padding: 0px;
        padding-top: 30px;
    }
    .heroImage{
        transform: none;
        margin-top: 185px;
        width: 310px;
    }
    .contactSection{
        justify-self: flex-start;
        margin-top: 530px;
        margin-left: 20px;
    }
}