*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--creame);
    word-spacing: 2px;

}
:root{
    --creame: #F5F1E8;
    --grey: #A9A9A9;
    --lightBrown: #191413;
    --AshBlack: #333333;
}
h1{
    font-family: "Cinzel";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 20px;
}
a,button{
    text-decoration: none;
    color: var(--AshBlack);
    border: none;
    background-color: #D9D9D9;
    font-size: 12px;
    font-family: "Source Serif 4";
}

.navbar{
    position:  sticky;
    padding-top: 30px;
}
nav ul{
    display: flex;
    justify-self: center;
    gap: 142px;
}
#logo{
    margin-left: 170px;
    margin-right: 170px;
    letter-spacing: 2px;
}

/* span{
   text-decoration: none;
    color: var(--AshBlack);
    border: none;
    background-color: #D9D9D9;
    font-size: 12px;
    font-family: "Source Serif 4";
    display: inline-block;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease; 
}

#logo:hover span{
    transform: translateY(-40%);
    opacity: 1;
}

#logo:not(:hover)span{
    transition-delay: var(--out-delay);
} */
/* #logo span:nth-child(1){ transition-delay: 0s; }
#logo span:nth-child(2){ transition-delay: 0.05s; }
#logo span:nth-child(3){ transition-delay: 0.1s; }
#logo span:nth-child(4){ transition-delay: 0.15s; }
#logo span:nth-child(5){ transition-delay: 0.2s; }
#logo span:nth-child(6){ transition-delay: 0.25s; }
#logo span:nth-child(7){ transition-delay: 0.3s; }
#logo span:nth-child(8){ transition-delay: 0.35s; }
#logo span:nth-child(9){ transition-delay: 0.4s; }
#logo span:nth-child(10){ transition-delay: 0.45s; }
#logo span:nth-child(11){ transition-delay: 0.5s; }
#logo span:nth-child(12){ transition-delay: 0.55s; }
#logo span:nth-child(13){ transition-delay: 0.6s; }
#logo span:nth-child(14){ transition-delay: 0.65s; }




#logo:not(:hover) span:nth-child(14){ transition-delay: 0s; }
#logo:not(:hover) span:nth-child(13){ transition-delay: 0.05s; }
#logo:not(:hover) span:nth-child(12){ transition-delay: 0.1s; }
#logo:not(:hover) span:nth-child(11){ transition-delay: 0.15s; }
#logo:not(:hover) span:nth-child(10){ transition-delay: 0.2s; }
#logo:not(:hover) span:nth-child(9){ transition-delay: 0.25s; }
#logo:not(:hover) span:nth-child(8){ transition-delay: 0.3s; }
#logo:not(:hover) span:nth-child(7){ transition-delay: 0.35s; }
#logo:not(:hover) span:nth-child(6){ transition-delay: 0.4s; }
#logo:not(:hover) span:nth-child(5){ transition-delay: 0.45s; }
#logo:not(:hover) span:nth-child(4){ transition-delay: 0.5s; }
#logo:not(:hover) span:nth-child(3){ transition-delay: 0.55s; }
#logo:not(:hover) span:nth-child(2){ transition-delay: 0.6s; }
#logo:not(:hover) span:nth-child(1){ transition-delay: 0.65s; } */


.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}





.hero{
    width: 100%;
    height: 610px;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
}
.heroImage{
    height: 461px;
    transform: translate(150%,33%);
    z-index: 1;
}

.logo{
    position: absolute;
    top: 0;
    margin-top: 110px;
    padding-left: 35%;
    
}




#scrollText{
    font-size: 12px;
    font-weight: bold;
    font-family: "Source Serif 4";
    position: fixed;
    right: 0px;
    justify-self: right;
    padding-right: 40px;

}






.contactSection{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 490px;
    margin-left: 50px;
}
.contact{
    font-family: "Baskervville";
    font-size: 15px;
    color: var(--lightBrown);
    font-weight: 500;
}